html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.h-150{
  height:150px;
}


.caixa1{
  width: 150px;
  height: 150px;
  background-color: rgb(244, 7, 157);
  border: 3px #000f1f solid;
  text-align: center;
  padding-top: 70px;
}

.caixa2{
  width: 150px;
  height: 150px;
  background-color: rgb(145, 4, 93);
  border: 3px #000f1f solid;
  text-align: center;
  padding-top: 70px;
}

.caixa3{
  width: 150px;
  height: 150px;
  background-color: rgb(255, 88, 194);
  border: 3px #000f1f solid;
  text-align: center;
  padding-top: 70px;
}

.caixa4{
  width: 150px;
  height: 150px;
  background-color: rgb(255, 166, 222);
  border: 3px #000f1f solid;
  text-align: center;
  padding-top: 70px;
}

.caixa5{
  width: 150px;
  height: 150px;
  background-color: rgb(141, 72, 116);
  border: 3px #000f1f solid;
  text-align: center;
  padding-top: 70px;
}

.caixa6{
  width: 150px;
  height: 150px;
  background-color: rgb(174, 0, 110);
  border: 3px #000f1f solid;
  text-align: center;
  padding-top: 70px;
}


.h-500{
  height: 500px;
}